/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ---------------------Mobile Style-------------------------*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111729;
}

.content-wrapper {
    background-color: #20293A;
    background-image: url(../img/bg-image-random-quote.svg);
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.artistName {
    color: #97A3B6;
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contemporaryArtButton,
.classicalArtButton {
    border: 1px solid #6466E9;
    background-color: #20293A;
    color: #6466E9;
    padding: 8px;
    margin: 10px;
    border-radius: 20px;
    font-family: "Outfit", sans-serif;
    font-size: 0.625rem;
    cursor: pointer;
}

.pictureOfArt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    background-color: #20293A;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.pictureOfArt img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#artistName {
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
}

#artistName.error {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-align: cener;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 50px 20px;
    width: auto;
}

.img-wrapper .img1,
.img2 {
    border: 2px solid #97A3B6;
    color: #97A3B6;
    padding: 10px 15px 5px;
    border-radius: 10px;
    cursor: pointer;
}

.img2 {
    position: relative;
    cursor: pointer;
}

.img2::after {
    content: "Copied!";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: #4CAF50;
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    margin-top: 5px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    animation: fadeOut 1s forwards;
}

.img2.active::after {
    opacity: 1;
}

/* ---------------------Desktop Styles-------------------------*/
@media only screen and (min-width: 768px) {
    .content-wrapper {
        max-width: 1000px;
        padding: 20px;
        background-size: cover;
    }

    .artistName {
        font-size: 2rem;
    }

    .contemporaryArtButton,
    .classicalArtButton {
        padding: 12px 20px;
        font-size: 0.75rem;
    }

    .pictureOfArt {
        max-width: 600px;
    }

    .img-wrapper {
        padding: 20px 60px;
    }

    .img-wrapper .img1,
    .img2 {
        padding: 15px 20px;
        cursor: pointer;
    }
}

/* ---------------------Desktop Styles-------------------------*/
@media only screen and (min-width: 1280px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1500px;
        padding: 40px;
        background-size: cover;
    }

    .artistName {
        font-size: 3rem;
    }

    .contemporaryArtButton,
    .classicalArtButton {
        padding: 20px 30px;
        font-size: 1rem;
    }

    .pictureOfArt {
        max-width: 800px;
    }

    .img-wrapper {
        padding: 30px 70px;
    }

    .img-wrapper .img1,
    .img2 {
        padding: 25px 30px;
        cursor: pointer;

    }
}